<section class="hero is-info">
	<div class="hero-body">
		<h1 class="title">{{ title }}</h1>
		<h2 class="subtitle">{{ subtitle }}</h2>
	</div>
</section>


<div class="columns">
  <div class="column is-size-2 has-text-centered has-text-weight-bold">
    Event list
  </div>
</div>

<div class="columns">
  <div class="column has-text-right">
    <span (click)="previousPage()"><< Previous</span><br />
  </div>
	<div class="column is-size-5 has-text-centered">
		Page: {{ page + 1}}<br />
		# of events found: {{ events.length }}<br />
	</div>
  <div class="column has-text-left">
    <span (click)="nextPage()">Next >></span><br />
  </div>
</div>

<div class="container">
	<div class="notification">
		<div class="columns">
			<div class="column"><strong>Name</strong></div>
			<div class="column"><strong>Venue</strong></div>
			<div class="column"><strong>Location</strong></div>
			<div class="column"><strong>Date</strong></div>
      <div class="column"><!-- attend button column --></div>
		</div>

		<div class="columns" *ngFor="let event of events" (click)="onSelect(event)">
			<div class="column">{{ event.name }}</div>
			<div class="column">{{ event.venue }}</div>
			<div class="column">
        {{ event.address1 }}
        <span *ngIf="event.address2">
          <br />
          {{ event.address2 }}
        </span>
        <br />
        {{ event.city }},
        {{ event.state }}
        {{ event.postal_code }}
      </div>
      <div class="column">{{ event.start_date }}</div>
      <div class="column"><button (click)="attend(event)">Attend</button>
		</div>
	</div>
</div>
